@media (min-width: 1024px) {
    #hamburguesa {
        display: none;

    }
}


/*MOBILE S*/

@media (max-width: 321px) {
    .primerCabezal { 
        width: 320px;
    }

.primerCabezal ul li a {
    font-size: .7rem;
}

.user label {
    width: 20px;
    margin-right: .2rem;
    width: 10px;
    font-size: .7rem;
}

.logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    gap: .5rem;
}

.logo input {
    width: 254px;
    height: 20px; 
    margin-left: 1.5rem;
    
}

.logo h3 { 
    display: none;

}

.logo h5 { 
    display: none;
}


.logo picture {
    margin-top: .3rem;
}


.secciones { 
    width: 100%;
display: flex;
justify-content: space-between
}

.secciones ul {
    display: none;
}


#hamburguesa {
    margin-left: .5rem;

}


.secciones section p{
    font-size: .5rem;

}

.info { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;

}

.compraSegura {
width: 95%;
display: flex;
margin-left: 0;
flex-direction: column;
align-items: center;
justify-content: center;
}


.compraSegura h1 {
    font-size: 1.5rem;
}

.compraSegura p { 
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    text-align: center;
}


.descuento { 
    width: 95%;
    margin-right: 0;
}

.descuento h1 {
    font-size: 1.5rem;
}

.descuento p { 
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    text-align: center;
}


.datos { 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 350px;
   
    align-content: space-between;
}

.datos li { 
    width: 85%;
}


.categorias { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    height: 400px;
}

.categorias h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;
}

.categorias h1::after {
    display: none;
}


.categorias ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#impresoras3D {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#impresoras3D h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#impresoras3D h1::after {
    display: none;
}


#impresoras3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#impresoras3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .5rem;
}

#impresoras3D ul li img { 
    width: 100px;
    height: 100px;
}


#impresoras3D ul li h3 { 
   font-size: .6rem;
}


#impresoras3D ul li h6 { 
    font-size: .6rem;
 }

 #impresoras3D ul li button { 
    font-size: .6rem;
 }


 #filamentos3D {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#filamentos3D h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#filamentos3D h1::after {
    display: none;
}


#filamentos3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#filamentos3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .5rem;
}

#filamentos3D ul li img { 
    width: 100px;
    height: 100px;
}


#filamentos3D ul li h3 { 
   font-size: .6rem;
}


#filamentos3D ul li h6 { 
    font-size: .6rem;
 }

 #filamentos3D ul li button { 
    font-size: .6rem;
 }

 
 #accesoriosYRepuestos {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#accesoriosYRepuestos h1 { 
    font-size: 1.3rem;
    border-bottom: solid 1px #3d464d;

}

#accesoriosYRepuestos h1::after {
    display: none;
}


#accesoriosYRepuestos ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#accesoriosYRepuestos ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .5rem;
}

#accesoriosYRepuestos ul li img { 
    width: 100px;
    height: 100px;
}


#accesoriosYRepuestos ul li h3 { 
   font-size: .6rem;
   text-align: center;
}


#accesoriosYRepuestos ul li h6 { 
    font-size: .6rem;
    
 }

 #accesoriosYRepuestos ul li button { 
    font-size: .6rem;
 }

footer { 
width: 100%;
    display: flex;
    flex-direction: column;
height: 430px;

}

.infoEmpresa {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoEmpresa h2 { 
    font-size: .9rem;
    text-align: center;
    align-items: center;
}

.infoEmpresa p { 
    width: 100%;
    font-size: .7rem;
}

.redes { 
   display: flex;
   flex-direction: column;
justify-content: flex-start;
    margin-top: 1.5rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0;
}

.redes h2 { 
    font-size: 0.9rem;
    margin-left: 1rem;
}

.redes a {
    font-size: .7rem;
}

.redes picture { 
    display: flex;
    margin-left: 1rem;
}

#contacto { 
    width: 90%;
    display: flex;
    margin-top: 1rem;
}

#contacto h2 { 
    font-size: .9rem;
    margin-left: 1rem;
}


#contacto img { 
    width: 20px;
    height: 20px;
}


#contacto h4 { 
    font-size: .7rem;
    margin-right: 0;
}



#contacto picture {
    display: flex;
    margin-left: 1rem;
}


#formInicioSesion { 
    width: 100%;
}

#formInicioSesion form {
    width: 90%;
}

#formRegistro {
    width: 100%;
}

#formRegistro form {
    width: 90%;
}

#formRegistro h1 {
    font-size: 1rem;
}

#formRegistro h4 { 
    font-size: .7rem;
    text-align: center;
}

}


/*MOBILE M*/

@media (min-width: 322px) and (max-width: 376px) {
    .primerCabezal { 
        width: 100%;
    }

.primerCabezal ul li a {
    font-size: .9rem;
}

.user label {
    width: 20px;
    margin-right: .2rem;
    width: 10px;
    font-size: .7rem;
}

.logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    gap: .5rem;
}

.logo input {
    width: 254px;
    height: 20px; 
    margin-left: 1.5rem;
    
}

.logo h3 { 
    display: none;

}

.logo h5 { 
    display: none;
}


.logo picture {
    margin-top: .3rem;
}


.secciones { 
    width: 100%;
display: flex;
justify-content: space-between
}

.secciones ul {
    display: none;
}


#hamburguesa {
    margin-left: .5rem;

}


.secciones section p{
    font-size: .8rem;

}

.info { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;

}

.compraSegura {
width: 365px;
display: flex;
margin-left: 0;
flex-direction: column;
align-items: center;
justify-content: center;
}


.compraSegura h1 {
    font-size: 1.5rem;
}

.compraSegura p { 
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}


.descuento { 
    width: 365px;
    margin-right: 0;
}

.descuento h1 {
    font-size: 1.5rem;
}

.descuento p { 
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}


.datos { 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 350px;
   
    align-content: space-between;
}

.datos li { 
    width: 85%;
}


.categorias { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    height: 400px;
}

.categorias h1 { 
    font-size: 1.8rem;
    border-bottom: solid 1px #3d464d;
}

.categorias h1::after {
    display: none;
}


.categorias ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


#impresoras3D {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#impresoras3D h1 { 
    font-size: 1.8rem;
    border-bottom: solid 1px #3d464d;

}

#impresoras3D h1::after {
    display: none;
}


#impresoras3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#impresoras3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#impresoras3D ul li img { 
    width: 150px;
    height: 150px;
}


#impresoras3D ul li h3 { 
   font-size: .7rem;
   text-align: center;
}


#impresoras3D ul li h6 { 
    font-size: .7rem;
 }

 #impresoras3D ul li button { 
    font-size: .7rem;
 }


 #filamentos3D {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


#filamentos3D h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#filamentos3D h1::after {
    display: none;
}


#filamentos3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#filamentos3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#filamentos3D ul li img { 
    width: 150px;
    height: 150px;
}


#filamentos3D ul li h3 { 
   font-size: .7rem;
}


#filamentos3D ul li h6 { 
    font-size: .7rem;
 }

 #filamentos3D ul li button { 
    font-size: .7rem;
 }

 
 #accesoriosYRepuestos {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


#accesoriosYRepuestos h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#accesoriosYRepuestos h1::after {
    display: none;
}


#accesoriosYRepuestos ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#accesoriosYRepuestos ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#accesoriosYRepuestos ul li img { 
    width: 100px;
    height: 100px;
}


#accesoriosYRepuestos ul li h3 { 
   font-size: .7rem;
   text-align: center;
}


#accesoriosYRepuestos ul li h6 { 
    font-size: .7rem;
    
 }

 #accesoriosYRepuestos ul li button { 
    font-size: .7rem;
 }

footer { 
width: 100%;
    display: flex;
    flex-direction: column;
    
height: 430px;

}

.infoEmpresa {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.infoEmpresa h2 { 
    font-size: .9rem;
  
    
}

.infoEmpresa p { 
    width: 100%;
    font-size: .7rem;
}

.redes { 
   display: flex;
   flex-direction: column;
justify-content: flex-start;

    margin-top: 1.5rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0;
}

.redes h2 { 
    font-size: 0.9rem;
    margin-left: 1rem;
}

.redes a {
    font-size: .7rem;
}

.redes picture { 
    display: flex;
    margin-left: 1rem;
}

#contacto { 
    width: 90%;
    display: flex;
    margin-top: 1rem;
    
}

#contacto h2 { 
    font-size: .9rem;
    margin-left: 1rem;
}


#contacto img { 
    width: 20px;
    height: 20px;
}


#contacto h4 { 
    font-size: .7rem;
    margin-right: 0;
}



#contacto picture {
    display: flex;
    margin-left: 1rem;
}


#formInicioSesion { 
    width: 100%;
}

#formInicioSesion form {
    width: 90%;
}

#formRegistro {
    width: 100%;
}

#formRegistro form {
    width: 90%;
}

#formRegistro h1 {
    font-size: 1rem;
}

#formRegistro h4 { 
    font-size: .7rem;
    text-align: center;
}

}


/*MOBILE L*/
@media (min-width: 376px) and (max-width: 426px) {
    .primerCabezal { 
        width: 100%;
    }

.primerCabezal ul li a {
    font-size: .9rem;
}

.user label {
    width: 20px;
    margin-right: .2rem;
    width: 10px;
    font-size: .7rem;
}

.logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    gap: .5rem;
}

.logo input {
    width: 254px;
    height: 20px; 
    margin-left: 1.5rem;
    
}

.logo h3 { 
    display: none;

}

.logo h5 { 
    display: none;
}


.logo picture {
    margin-top: .3rem;
}


.secciones { 
    width: 100%;
display: flex;
justify-content: space-between
}

.secciones ul {
    display: none;
}


#hamburguesa {
    margin-left: .5rem;

}


.secciones section p{
    font-size: .8rem;

}

.info { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;

}

.compraSegura {
width: 95%;
display: flex;
margin-left: 0;
flex-direction: column;
align-items: center;
justify-content: center;
}


.compraSegura h1 {
    font-size: 1.5rem;
}

.compraSegura p { 
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}


.descuento { 
    width: 95%;
    margin-right: 0;
}

.descuento h1 {
    font-size: 1.5rem;
}

.descuento p { 
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}


.datos { 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 350px;
   
    align-content: space-between;
}

.datos li { 
    width: 85%;
}


.categorias { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    height: 400px;
}

.categorias h1 { 
    font-size: 1.8rem;
    border-bottom: solid 1px #3d464d;
}

.categorias h1::after {
    display: none;
}


.categorias ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


#impresoras3D {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#impresoras3D h1 { 
    font-size: 1.8rem;
    border-bottom: solid 1px #3d464d;

}

#impresoras3D h1::after {
    display: none;
}


#impresoras3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#impresoras3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#impresoras3D ul li img { 
    width: 150px;
    height: 150px;
}


#impresoras3D ul li h3 { 
   font-size: .7rem;
   text-align: center;
}


#impresoras3D ul li h6 { 
    font-size: .7rem;
 }

 #impresoras3D ul li button { 
    font-size: .7rem;
 }


 #filamentos3D {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


#filamentos3D h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#filamentos3D h1::after {
    display: none;
}


#filamentos3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#filamentos3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#filamentos3D ul li img { 
    width: 150px;
    height: 150px;
}


#filamentos3D ul li h3 { 
   font-size: .7rem;
}


#filamentos3D ul li h6 { 
    font-size: .7rem;
 }

 #filamentos3D ul li button { 
    font-size: .7rem;
 }

 
 #accesoriosYRepuestos {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


#accesoriosYRepuestos h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#accesoriosYRepuestos h1::after {
    display: none;
}


#accesoriosYRepuestos ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#accesoriosYRepuestos ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#accesoriosYRepuestos ul li img { 
    width: 100px;
    height: 100px;
}


#accesoriosYRepuestos ul li h3 { 
   font-size: .7rem;
   text-align: center;
}


#accesoriosYRepuestos ul li h6 { 
    font-size: .7rem;
    
 }

 #accesoriosYRepuestos ul li button { 
    font-size: .7rem;
 }

footer { 
width: 100%;
    display: flex;
    flex-direction: column;
    
height: 430px;

}

.infoEmpresa {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.infoEmpresa h2 { 
    font-size: .9rem;
  
    
}

.infoEmpresa p { 
    width: 100%;
    font-size: .7rem;
}

.redes { 
   display: flex;
   flex-direction: column;
justify-content: flex-start;

    margin-top: 1.5rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0;
}

.redes h2 { 
    font-size: 0.9rem;
    margin-left: 1rem;
}

.redes a {
    font-size: .7rem;
}

.redes picture { 
    display: flex;
    margin-left: 1rem;
}

#contacto { 
    width: 90%;
    display: flex;
    margin-top: 1rem;
    
}

#contacto h2 { 
    font-size: .9rem;
    margin-left: 1rem;
}


#contacto img { 
    width: 20px;
    height: 20px;
}


#contacto h4 { 
    font-size: .7rem;
    margin-right: 0;
}



#contacto picture {
    display: flex;
    margin-left: 1rem;
}


#formInicioSesion { 
    width: 100%;
}

#formInicioSesion form {
    width: 90%;
}

#formRegistro {
    width: 100%;
}

#formRegistro form {
    width: 90%;
}

#formRegistro h1 {
    font-size: 1rem;
}

#formRegistro h4 { 
    font-size: .7rem;
    text-align: center;
}

}


  

/*LAPTOP 1024px*/
@media (min-width: 770px) and (max-width: 1025px) {
    .primerCabezal { 
        display: flex;
        align-items: center;
        justify-content: space-between;
    background-color: #dadada;
    height: 40px;
    width: 100%;
    }
    
    .primerCabezal ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-left: .8rem;
    color: #3d464d;
    }
    
    .primerCabezal ul a { 
        text-decoration: none;
        color: #3d464d;
        font-size: 1.2rem;
    }
    
    
    .user label {
        background-color: #ffd333;
        margin-right: 1rem;
        padding: .3rem;
        border-radius: .3rem;
        cursor: pointer;
        user-select: none;
    }
    
    .user input {
        display: none;
    }
    
    #ulUser { 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 50px;
        background-color: #ffd333;
        width: 150px;
        height: 150px;
        right: 0;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
        display: none;
       }
    
       #usuario:checked ~ #ulUser {
        display: flex;
       }
    
    
    
    /*header del logo*/
    .logo {
        display: flex;
        background-color: #ECECEC;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo picture { 
        margin-left: 1.5rem;
    }
    
    .logo input {
        width: 500px;
        height: 40px;
        color: #3d464d;
    }
    
    input::placeholder {
        text-align: center;
        font-family: "Pontano Sans" , sans-serif;
    }
    
    .logo section { 
        margin-right: 1.5rem;
        text-align: end;
    }
    
    .logo section h3 {
        color: #3d464d;
        font-weight: 100;
    }
    
    .logo section h5 { 
        font-size: 1.3rem;
        color: #3d464d;
        font-weight: 800;
    }
    
    #hamburguesa {
        display: none;
    }
    .secciones {
        display: flex;
        width: 100%;
        height: 65px;
        background-color: #3d464d;
        align-items: center;
        justify-content: space-between;
    }
    
    .secciones ul {
        display: flex;
        gap: 1.5rem;
        margin-left: 1.5rem;
        list-style-type: none;
    }
    
    .secciones section { 
        display: flex;
        margin-right: 1.5rem;
        gap: 1rem;
        align-items: center;
    }
    
    .secciones section p {
        color: #dadada;
    border: solid 2px #dadada;
    padding: .3rem;
    border-radius: 360px;
    }
    
    .secciones a {
        text-decoration: none;
        color:#dadada ;
    }
    
    .secciones ul li:first-child a {
        color: #ffd333;
        font-weight: bold;
    }
    
    /*Main de información*/
    .info {
        display: flex;
        width: 100%;
        height: 460px;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    .compraSegura {
       display: flex;
       flex-direction: column;
        background-image: url(imagenes/3d.jpg);
        width: 800px;
        height: 430px;
        background-size: cover;
        margin-left: 1rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    
    .compraSegura h1 {
        color: #dadada;
        font-size: 2rem;
    }
    
    
    .compraSegura p {
        color: #dadada;
        font-weight: bold;
        text-align: center;
    }
    
    
    .compraSegura button {
        background-color: transparent;
        border: solid 1px #dadada;
        color: #dadada;
        padding: .5rem;
        border-radius: 0.2rem;
    }
    
    
    .descuento {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        background-image: url(imagenes/ofer.jpg);
        width: 700px;
        height: 430px;
        align-items: center;
        justify-content: center;
        background-size: cover;
        gap: 1rem;
    }
    
    
    .descuento h1 {
        color: #dadada;
        font-size: 2rem;
    }
    
    
    .descuento p {
        color: #dadada;
        font-weight: bold;
        text-align: center;
    }
    
    
    .descuento button {
        background-color: #ffd333;
        border: none;
        color: #3d464d;
        padding: .5rem;
        border-radius: 0.2rem;
    }
    
    
    /*datos - informacion general */
    
    .datos {
     display: flex;
     margin-top: 2rem;
     width: 100%;
     height: 100px;
     align-items: center;
     justify-content: space-around;
    
    
    
    }
    
    .datos li {
        display: flex;
        width: 250px;
        height: 100px;
        background-color: white;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .datos li p {
        font-weight: 600;
        color: #3d464d;
        font-size: 1.2rem;
    }
    
    /*Sección de categorias*/
    
    .categorias {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        width: 100%;
        height: 200px;
        
        
    }
    
    
    .categorias h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    } 
    
    .categorias h1::after {
        content: "";
        display: inline-block;
        width: 70%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       
    
    }
    
    .categorias ul {
        margin-top: 1.8rem;
       display: flex;
       width: 100%;
       list-style-type: none;
       justify-content: space-evenly;
        
    }
    
    .categorias ul li {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 300px;
        background-color: #ffffff;
        cursor: pointer;
    }
    
    .categorias ul li picture { 
        display: flex;
        align-items: center;
    }
    
    
    .categorias ul li h3 { 
       font-size: 1rem;
       margin-left: 1rem;
       color: #3d464d;
    }
    
    .categorias ul li:hover {
        background-color: #ffd333;
    }
    
    
    /*Impresoras 3D*/
    
    #impresoras3D {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        width: 100%;
    }
    
    #impresoras3D ul {
        display: flex;
        list-style-type: none;
        margin: 1.4rem;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    #impresoras3D ul li { 
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    #impresoras3D img {
        width: 250px;
        height: 250px;
    }
        
    
    #impresoras3D ul li h3 { 
        color: #3d464d;
    }
    
    #impresoras3D ul li h6 { 
        color: #3d464d;
        font-size: .9rem;
    }
    
    
    #impresoras3D button { 
        background-color: #ffd333;
        border: none;
        padding: .3rem;
        border-radius: .4rem;
        cursor: pointer;
    }
    
    
    #impresoras3D h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    }
    
    #impresoras3D h1::after {
        content: "";
        display: inline-block;
        width: 70%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       }
    
    
       /*Filamentos*/
    
       #filamentos3D {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        width: 100%;
    }
    
    #filamentos3D ul {
        display: flex;
        list-style-type: none;
        margin: 1.4rem;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    #filamentos3D ul li { 
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    #filamentos3D img {
        width: 250px;
        height: 250px;
    }
        
    
    #filamentos3D ul li h3 { 
        color: #3d464d;
    }
    
    #filamentos3D ul li h6 { 
        color: #3d464d;
        font-size: .9rem;
    }
    
    
    #filamentos3D button { 
        background-color: #ffd333;
        border: none;
        padding: .3rem;
        border-radius: .4rem;
        cursor: pointer;
    }
    
    
    #filamentos3D h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    }
    
    #filamentos3D h1::after {
        content: "";
        display: inline-block;
        width: 70%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       }
    
    
       /*Accesorios y repuestos*/
    
       #esoracciosYRepuestos {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        width: 100%;
    }
    
    #accesoriosYRepuestos ul {
        display: flex;
        list-style-type: none;
        margin: 1.4rem;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    #accesoriosYRepuestos ul li { 
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    #accesoriosYRepuestos img {
        width: 250px;
        height: 250px;
    }
        
    
    #accesoriosYRepuestos ul li h3 { 
        color: #3d464d;
    }
    
    #accesoriosYRepuestos ul li h6 { 
        color: #3d464d;
        font-size: .9rem;
    }
    
    
    #accesoriosYRepuestos button { 
        background-color: #ffd333;
        border: none;
        padding: .3rem;
        border-radius: .4rem;
        cursor: pointer;
    }
    
    
    #faccesoriosYRepuestos h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    }
    
    #accesoriosYRepuestos h1::after {
        content: "";
        display: inline-block;
        width:55%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       }
    
    
       /*Formulario de registro*/
    
       #formRegistro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 550px;
        
       }
    
       #formRegistro form {
        margin-top: 2rem;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 30%;
        height: 100%;
        align-items: center;
        background-color: #3d464d;
        border-radius: 1rem;
       }
    
       #formRegistro form input {
        width: 89%;
        height: 40px;
        border: none;
        background-color: #ffd333;
        border: solid 2px #dadada;
       }
    
       #formRegistro h1 {
        color: #dadada;
        font-size: 1.5rem;
        margin-top: .5rem;
        text-align: center;
       }
    
       #formRegistro form input::placeholder {
    font-family: "Pontano Sans" , sans-serif; 
    font-size: 1rem;
    }
    
    #formRegistro h4 {
        color: #dadada;
        text-align: center;
    }
    
    #formRegistro a { 
        color: #ffd333;
    }
    
    #formRegistro button { 
        background-color: #ffd333;
        border: none;
        color: #3d464d;
        width: 200px;
        padding: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    
    
    /*Formulario de inicio de sesión*/
    #formInicioSesion {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 450px;
    }
    
    #formInicioSesion form {
        margin-top: 2rem;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 30%;
        height: 100%;
        align-items: center;
        background-color: #3d464d;
        border-radius: 1rem;
       }
    
       #formInicioSesion form input {
        width: 89%;
        height: 40px;
        border: none;
        background-color: #ffd333;
        border: solid 2px #dadada;
       }
    
       #formInicioSesion h1 {
        color: #dadada;
        font-size: 1.5rem;
        margin-top: .5rem;
       }
    
       #formInicioSesion button { 
        background-color: #ffd333;
        border: none;
        color: #3d464d;
        width: 200px;
        padding: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    
    
    /*Footer*/
    
    footer {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;
        height: 300px;
        background-color: #3d464d;
    }
    
    .infoEmpresa { 
        display: flex;
        flex-direction: column;
        width: 480px;
        margin-top: .8rem;
        gap: .5rem;
        margin-left: 1rem;
        
    }
    
    .infoEmpresa h2 {
        color: #ECECEC;
        text-transform: uppercase;
    }
    
    .infoEmpresa p {
        color: #ECECEC;
    }
    
    .redes { 
        display: flex;
        flex-direction: column;
       margin-left: 6rem;
        gap: .5rem;
        width: 480px;
        margin-top: .8rem;
    }
    
    .redes h2 { 
        color: #ECECEC;
        text-transform: uppercase;
    }
    
    .redes picture {
        display: flex;
        gap: .4rem;
        align-items: center;
    
    }
    
    .redes picture a {
        color: #ECECEC;
        text-decoration: none;
    }
    
    #contacto {
        display: flex;
        flex-direction: column;
        width: 480px;
        height: 80%;
       margin-top: .8rem;
        gap: .5rem;
    }
    
    #contacto picture {
        display: flex;
        gap: .4rem;
    }
    
    #contacto picture h4 {
        color: #ECECEC;
        font-weight: 300;
        
    }
    
    
    #contacto h2 { 
        color: #ECECEC;
        text-transform: uppercase;
    }
    
    
    /*menu hamburguesa*/
    #hamburguesa label {
        background-color: #ffd333;
        margin-right: 1rem;
        padding: .3rem;
        border-radius: .3rem;
        cursor: pointer;
        user-select: none;
        
    }
    
    #hamburguesa input {
        display: none;
    }
    
    #hamburguesa ul { 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 200px;
        background-color: #ffd333;
        width: 150px;
        height: 400px;
        right: 40;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
        display: none;
       }
    
       #menuburguer:checked ~ .hamburguesa {
        display: flex;
       }
    
       .hamburguesa a {
        color: #3d464d;
       }
    }



/*CORRECIONES*/   
@media (min-width: 1026px) and (max-width: 1300px) {
    .primerCabezal { 
        display: flex;
        align-items: center;
        justify-content: space-between;
    background-color: #dadada;
    height: 40px;
    width: 100%;
    }
    
    .primerCabezal ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-left: .8rem;
    color: #3d464d;
    }
    
    .primerCabezal ul a { 
        text-decoration: none;
        color: #3d464d;
        font-size: 1.2rem;
    }
    
    
    .user label {
        background-color: #ffd333;
        margin-right: 1rem;
        padding: .3rem;
        border-radius: .3rem;
        cursor: pointer;
        user-select: none;
    }
    
    .user input {
        display: none;
    }
    
    #ulUser { 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 50px;
        background-color: #ffd333;
        width: 150px;
        height: 150px;
        right: 0;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
        display: none;
       }
    
       #usuario:checked ~ #ulUser {
        display: flex;
       }
    
    
    
    /*header del logo*/
    .logo {
        display: flex;
        background-color: #ECECEC;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo picture { 
        margin-left: 1.5rem;
    }
    
    .logo input {
        width: 500px;
        height: 40px;
        color: #3d464d;
    }
    
    input::placeholder {
        text-align: center;
        font-family: "Pontano Sans" , sans-serif;
    }
    
    .logo section { 
        margin-right: 1.5rem;
        text-align: end;
    }
    
    .logo section h3 {
        color: #3d464d;
        font-weight: 100;
    }
    
    .logo section h5 { 
        font-size: 1.3rem;
        color: #3d464d;
        font-weight: 800;
    }
    
    
    .secciones {
        display: flex;
        width: 100%;
        height: 65px;
        background-color: #3d464d;
        align-items: center;
        justify-content: space-between;
    }
    
    .secciones ul {
        display: flex;
        gap: 1.5rem;
        margin-left: 1.5rem;
        list-style-type: none;
    }
    
    .secciones section { 
        display: flex;
        margin-right: 1.5rem;
        gap: 1rem;
        align-items: center;
    }
    
    .secciones section p {
        color: #dadada;
    border: solid 2px #dadada;
    padding: .3rem;
    border-radius: 360px;
    }
    
    .secciones a {
        text-decoration: none;
        color:#dadada ;
    }
    
    .secciones ul li:first-child a {
        color: #ffd333;
        font-weight: bold;
    }
    
    /*Main de información*/
    .info {
        display: flex;
        width: 100%;
        height: 460px;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    .compraSegura {
       display: flex;
       flex-direction: column;
        background-image: url(imagenes/3d.jpg);
        width: 800px;
        height: 430px;
        background-size: cover;
        margin-left: 1rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    
    .compraSegura h1 {
        color: #dadada;
        font-size: 2rem;
    }
    
    
    .compraSegura p {
        color: #dadada;
        font-weight: bold;
        text-align: center;
    }
    
    
    .compraSegura button {
        background-color: transparent;
        border: solid 1px #dadada;
        color: #dadada;
        padding: .5rem;
        border-radius: 0.2rem;
    }
    
    
    .descuento {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        background-image: url(imagenes/ofer.jpg);
        width: 700px;
        height: 430px;
        align-items: center;
        justify-content: center;
        background-size: cover;
        gap: 1rem;
    }
    
    
    .descuento h1 {
        color: #dadada;
        font-size: 2rem;
    }
    
    
    .descuento p {
        color: #dadada;
        font-weight: bold;
        text-align: center;
    }
    
    
    .descuento button {
        background-color: #ffd333;
        border: none;
        color: #3d464d;
        padding: .5rem;
        border-radius: 0.2rem;
    }
    
    
    /*datos - informacion general */
    
    .datos {
     display: flex;
     margin-top: 2rem;
     width: 100%;
     height: 100px;
     align-items: center;
     justify-content: space-around;
    
    
    
    }
    
    .datos li {
        display: flex;
        width: 250px;
        height: 100px;
        background-color: white;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .datos li p {
        font-weight: 600;
        color: #3d464d;
        font-size: 1.2rem;
    }
    
    /*Sección de categorias*/
    
    .categorias {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        width: 100%;
        height: 200px;
        
        
    }
    
    
    .categorias h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    } 
    
    .categorias h1::after {
        content: "";
        display: inline-block;
        width: 70%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       
    
    }
    
    .categorias ul {
        margin-top: 1.8rem;
       display: flex;
       width: 100%;
       list-style-type: none;
       justify-content: space-evenly;
        
    }
    
    .categorias ul li {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 300px;
        background-color: #ffffff;
        cursor: pointer;
    }
    
    .categorias ul li picture { 
        display: flex;
        align-items: center;
    }
    
    
    .categorias ul li h3 { 
       font-size: 1rem;
       margin-left: 1rem;
       color: #3d464d;
    }
    
    .categorias ul li:hover {
        background-color: #ffd333;
    }
    
    
    /*Impresoras 3D*/
    
    #impresoras3D {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        width: 100%;
    }
    
    #impresoras3D ul {
        display: flex;
        list-style-type: none;
        margin: 1.4rem;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    #impresoras3D ul li { 
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    #impresoras3D img {
        width: 250px;
        height: 250px;
    }
        
    
    #impresoras3D ul li h3 { 
        color: #3d464d;
    }
    
    #impresoras3D ul li h6 { 
        color: #3d464d;
        font-size: .9rem;
    }
    
    
    #impresoras3D button { 
        background-color: #ffd333;
        border: none;
        padding: .3rem;
        border-radius: .4rem;
        cursor: pointer;
    }
    
    
    #impresoras3D h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    }
    
    #impresoras3D h1::after {
        content: "";
        display: inline-block;
        width: 70%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       }
    
    
       /*Filamentos*/
    
       #filamentos3D {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        width: 100%;
    }
    
    #filamentos3D ul {
        display: flex;
        list-style-type: none;
        margin: 1.4rem;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    #filamentos3D ul li { 
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    #filamentos3D img {
        width: 250px;
        height: 250px;
    }
        
    
    #filamentos3D ul li h3 { 
        color: #3d464d;
    }
    
    #filamentos3D ul li h6 { 
        color: #3d464d;
        font-size: .9rem;
    }
    
    
    #filamentos3D button { 
        background-color: #ffd333;
        border: none;
        padding: .3rem;
        border-radius: .4rem;
        cursor: pointer;
    }
    
    
    #filamentos3D h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    }
    
    #filamentos3D h1::after {
        content: "";
        display: inline-block;
        width: 70%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       }
    
    
       /*Accesorios y repuestos*/
    
       #esoracciosYRepuestos {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        width: 100%;
    }
    
    #accesoriosYRepuestos ul {
        display: flex;
        list-style-type: none;
        margin: 1.4rem;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    #accesoriosYRepuestos ul li { 
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    #accesoriosYRepuestos img {
        width: 250px;
        height: 250px;
    }
        
    
    #accesoriosYRepuestos ul li h3 { 
        color: #3d464d;
    }
    
    #accesoriosYRepuestos ul li h6 { 
        color: #3d464d;
        font-size: .9rem;
    }
    
    
    #accesoriosYRepuestos button { 
        background-color: #ffd333;
        border: none;
        padding: .3rem;
        border-radius: .4rem;
        cursor: pointer;
    }
    
    
    #faccesoriosYRepuestos h1 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #3d464d;
    }
    
    #accesoriosYRepuestos h1::after {
        content: "";
        display: inline-block;
        width:55%; 
        margin-left: 10px; 
        vertical-align: middle;
       border: 1px dotted #3d464d;
       }
    
    
       /*Formulario de registro*/
    
       #formRegistro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 550px;
        
       }
    
       #formRegistro form {
        margin-top: 2rem;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 30%;
        height: 100%;
        align-items: center;
        background-color: #3d464d;
        border-radius: 1rem;
       }
    
       #formRegistro form input {
        width: 89%;
        height: 40px;
        border: none;
        background-color: #ffd333;
        border: solid 2px #dadada;
       }
    
       #formRegistro h1 {
        color: #dadada;
        font-size: 1.5rem;
        margin-top: .5rem;
        text-align: center;
       }
    
       #formRegistro form input::placeholder {
    font-family: "Pontano Sans" , sans-serif; 
    font-size: 1rem;
    }
    
    #formRegistro h4 {
        color: #dadada;
        text-align: center;
    }
    
    #formRegistro a { 
        color: #ffd333;
    }
    
    #formRegistro button { 
        background-color: #ffd333;
        border: none;
        color: #3d464d;
        width: 200px;
        padding: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    
    
    /*Formulario de inicio de sesión*/
    #formInicioSesion {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 450px;
    }
    
    #formInicioSesion form {
        margin-top: 2rem;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 30%;
        height: 100%;
        align-items: center;
        background-color: #3d464d;
        border-radius: 1rem;
       }
    
       #formInicioSesion form input {
        width: 89%;
        height: 40px;
        border: none;
        background-color: #ffd333;
        border: solid 2px #dadada;
       }
    
       #formInicioSesion h1 {
        color: #dadada;
        font-size: 1.5rem;
        margin-top: .5rem;
       }
    
       #formInicioSesion button { 
        background-color: #ffd333;
        border: none;
        color: #3d464d;
        width: 200px;
        padding: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    
    
    /*Footer*/
    
    footer {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;
        height: 300px;
        background-color: #3d464d;
    }
    
    .infoEmpresa { 
        display: flex;
        flex-direction: column;
        width: 480px;
        margin-top: .8rem;
        gap: .5rem;
        margin-left: 1rem;
        
    }
    
    .infoEmpresa h2 {
        color: #ECECEC;
        text-transform: uppercase;
    }
    
    .infoEmpresa p {
        color: #ECECEC;
    }
    
    .redes { 
        display: flex;
        flex-direction: column;
       margin-left: 6rem;
        gap: .5rem;
        width: 480px;
        margin-top: .8rem;
    }
    
    .redes h2 { 
        color: #ECECEC;
        text-transform: uppercase;
    }
    
    .redes picture {
        display: flex;
        gap: .4rem;
        align-items: center;
    
    }
    
    .redes picture a {
        color: #ECECEC;
        text-decoration: none;
    }
    
    #contacto {
        display: flex;
        flex-direction: column;
        width: 480px;
        height: 80%;
       margin-top: .8rem;
        gap: .5rem;
    }
    
    #contacto picture {
        display: flex;
        gap: .4rem;
    }
    
    #contacto picture h4 {
        color: #ECECEC;
        font-weight: 300;
        
    }
    
    
    #contacto h2 { 
        color: #ECECEC;
        text-transform: uppercase;
    }
    
    
    /*menu hamburguesa*/
    #hamburguesa label {
        background-color: #ffd333;
        margin-right: 1rem;
        padding: .3rem;
        border-radius: .3rem;
        cursor: pointer;
        user-select: none;
        
    }
    
    #hamburguesa input {
        display: none;
    }
    
    #hamburguesa ul { 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 200px;
        background-color: #ffd333;
        width: 150px;
        height: 400px;
        right: 40;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
        display: none;
       }
    
       #menuburguer:checked ~ .hamburguesa {
        display: flex;
       }
    
       .hamburguesa a {
        color: #3d464d;
       }
}
   
@media (min-width: 427px) and (max-width: 769px) {
    .primerCabezal { 
        width: 100%;
    }

.primerCabezal ul li a {
    font-size: .9rem;
}

.user label {
    width: 20px;
    margin-right: .2rem;
    width: 10px;
    font-size: .7rem;
}

.logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    gap: .5rem;
}

.logo input {
    width: 254px;
    height: 20px; 
    margin-left: 1.5rem;
    
}

.logo h3 { 
    display: none;

}

.logo h5 { 
    display: none;
}


.logo picture {
    margin-top: .3rem;
}


.secciones { 
    width: 100%;
display: flex;
justify-content: space-between
}

.secciones ul {
    display: none;
}


#hamburguesa {
    margin-left: .5rem;

}


.secciones section p{
    font-size: .8rem;

}

.info { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;

}

.compraSegura {
width: 95%;
display: flex;
margin-left: 0;
flex-direction: column;
align-items: center;
justify-content: center;
}


.compraSegura h1 {
    font-size: 1.5rem;
}

.compraSegura p { 
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}


.descuento { 
    width: 95%;
    margin-right: 0;
}

.descuento h1 {
    font-size: 1.5rem;
}

.descuento p { 
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}


.datos { 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 350px;
   
    align-content: space-between;
}

.datos li { 
    width: 85%;
}


.categorias { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    height: 400px;
}

.categorias h1 { 
    font-size: 1.8rem;
    border-bottom: solid 1px #3d464d;
}

.categorias h1::after {
    display: none;
}


.categorias ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


#impresoras3D {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#impresoras3D h1 { 
    font-size: 1.8rem;
    border-bottom: solid 1px #3d464d;

}

#impresoras3D h1::after {
    display: none;
}


#impresoras3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#impresoras3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#impresoras3D ul li img { 
    width: 150px;
    height: 150px;
}


#impresoras3D ul li h3 { 
   font-size: .7rem;
   text-align: center;
}


#impresoras3D ul li h6 { 
    font-size: .7rem;
 }

 #impresoras3D ul li button { 
    font-size: .7rem;
 }


 #filamentos3D {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


#filamentos3D h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#filamentos3D h1::after {
    display: none;
}


#filamentos3D ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#filamentos3D ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#filamentos3D ul li img { 
    width: 150px;
    height: 150px;
}


#filamentos3D ul li h3 { 
   font-size: .7rem;
}


#filamentos3D ul li h6 { 
    font-size: .7rem;
 }

 #filamentos3D ul li button { 
    font-size: .7rem;
 }

 
 #accesoriosYRepuestos {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


#accesoriosYRepuestos h1 { 
    font-size: 1.5rem;
    border-bottom: solid 1px #3d464d;

}

#accesoriosYRepuestos h1::after {
    display: none;
}


#accesoriosYRepuestos ul { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;

}

#accesoriosYRepuestos ul li { 
    flex: 0 0 50%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .8rem;
}

#accesoriosYRepuestos ul li img { 
    width: 100px;
    height: 100px;
}


#accesoriosYRepuestos ul li h3 { 
   font-size: .7rem;
   text-align: center;
}


#accesoriosYRepuestos ul li h6 { 
    font-size: .7rem;
    
 }

 #accesoriosYRepuestos ul li button { 
    font-size: .7rem;
 }

footer { 
width: 100%;
    display: flex;
    flex-direction: column;
    
height: 430px;

}

.infoEmpresa {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.infoEmpresa h2 { 
    font-size: .9rem;
  
    
}

.infoEmpresa p { 
    width: 100%;
    font-size: .7rem;
}

.redes { 
   display: flex;
   flex-direction: column;
justify-content: flex-start;

    margin-top: 1.5rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0;
}

.redes h2 { 
    font-size: 0.9rem;
    margin-left: 1rem;
}

.redes a {
    font-size: .7rem;
}

.redes picture { 
    display: flex;
    margin-left: 1rem;
}

#contacto { 
    width: 90%;
    display: flex;
    margin-top: 1rem;
    
}

#contacto h2 { 
    font-size: .9rem;
    margin-left: 1rem;
}


#contacto img { 
    width: 20px;
    height: 20px;
}


#contacto h4 { 
    font-size: .7rem;
    margin-right: 0;
}



#contacto picture {
    display: flex;
    margin-left: 1rem;
}


#formInicioSesion { 
    width: 100%;
}

#formInicioSesion form {
    width: 90%;
}

#formRegistro {
    width: 100%;
}

#formRegistro form {
    width: 90%;
}

#formRegistro h1 {
    font-size: 1rem;
}

#formRegistro h4 { 
    font-size: .7rem;
    text-align: center;
}
}

